/* Scrollbar */
* {
  scrollbar-width: thin;
  /* scrollbar-color: var(--colorGrey) var(--bg-color); */
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  /* background: var(--color-mediumGrey); */
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
}

b,
strong {
  /* Fix font weight in Chrome and Safari */
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  /* Fix default fonts */
  font-family: var(--font-family-mono);
  font-size: 1em;
}

/* Fix text decorations */
abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

/* Fix images width */
img,
picture,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

/* Fix small font sizes */
small {
  font-size: 80%;
}

/* Fix elements line height */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  /* Fix border color inheritance */
  border-color: currentColor;
}

button,
input,
optgroup,
select,
textarea {
  /* Fix the font styles and margin */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  /* Fix the appearance to apply styles */
  -webkit-appearance: button;
  cursor: pointer;
}

legend {
  /* Fix the padding */
  padding: 0;
}

/* Fix vertical alignment in Chrome, Firefox */
progress {
  vertical-align: baseline;
}

/* Fix increment and decrement buttons in Safari. */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/* Fix appearance and outline. */
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* Fix inner padding. */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Fix upload button appearance */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Fix display mode in Chrome, Safari */
summary {
  cursor: pointer;
  display: list-item;
}

/* Fix display mode */
svg {
  display: block;
}